* {
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #fff !important;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.navbar-brand img {
    width: 100px;
    height: 40px;
    object-fit: cover;
}

.nav-item a {
    font-size: 14px;
    font-family: sans-serif;
}

.popular-category-section {
    margin-top: 3rem;
}

.popular-category-section h1 {
    font-size: 35px;
    font-family: sans-serif;
    font-weight: 800;
}

.popular-category-section .car-cards {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.car-cards .card {
    width: 18rem;
    height: 250px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

.car-cards .card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}